@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply space-y-2
    }

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-violet-200
    }

    h2 {
        @apply scroll-m-20 text-3xl font-semibold tracking-tight text-violet-200
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight text-violet-200
    }

    h4 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight text-violet-200
    }

    p {
        @apply leading-7 text-violet-50
    }

    ul {
        @apply my-6 ml-6 list-disc [&>li]:mt-2
    }
}

@layer base {
  :root {
    --background: 262 50% 10%;
    --foreground: 262 5% 100%;
    --card: 262 50% 10%;
    --card-foreground: 262 5% 100%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 100%;
    --primary: 262 71% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 25%;
    --muted-foreground: 262 5% 65%;
    --accent: 224 30% 25%;
    --accent-foreground: 262 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 262 5% 100%;
    --border: 262 30% 50%;
    --input: 262 30% 50%;
    --ring: 262 71% 54%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --gap: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}